.App {
  text-align: center;
  display: grid;
  grid-template-areas: 
  "header navBar navBar navBar"
  "sideBar main main main"
  "sideBar main main main"
  "footer footer footer footer";
  width: 100vw;
  height: 100vh;
  grid-template-rows: 10% 80%;
  grid-template-columns: 15%;
}
.sideBar{
  display: flex;
  flex-direction: column;
  grid-area: sideBar;
}
.header{
  grid-area: header;
}
.main{
  grid-area: main;
}
.navBar{
  grid-area: navBar;
}
.footer{
  grid-area: footer;
}
